@page "/fetchdata"
@using CosmosWithOData.UI.Services
@using CosmosWithOData.UI.Models
@inject StudentsService StudentsService

<h1>School Students</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (students == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Score</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var student in students)
            {
                <tr>
                    <td>@student.Id</td>
                    <td>@student.Name</td>
                    <td>@student.Score</td>
                </tr>
            }
        </tbody>
    </table>

    <button onclick="@GetNext">Next</button>
}

@functions {
    List<Student> students;

    protected override async Task OnInitAsync()
    {
        students = await StudentsService.GetStudents();
    }

    async Task GetNext()
    {
        students = await StudentsService.GetStudents();
    }
}
